<h1>User details</h1>

<dl>

  <dt>userID</dt>
  <dd>{{userID}}</dd>


  <dt>username</dt>
  <dd>{{username}}</dd>

  <dt>shard</dt>
  <dd>{{shard}}</dd>

  <dt>expires</dt>
  <dd>{{expires}}</dd>

  <dt>token</dt>
  <dd>{{token}}</dd>

  <dt>notestore</dt>
  <dd>{{notestore}}</dd>

  <dt>webapi</dt>
  <dd>{{webapi}}</dd>
</dl>


